$system-default-font-family: -apple-system,
BlinkMacSystemFont,
'Microsoft YaHei UI',
'Microsoft YaHei',
'PingFang SC',
'Helvetica Neue',
'Arial',
'AlibabaPuHuiTiMr'
,'HuXiaoBoNanShenTi';


%font-title-main {
  font-family: $system-default-font-family;
  font-size: 18px;
}
