.pop_select_down.is-multiple .el-select-dropdown__item {
  padding: 0 18px;
}
.pop_select_down.is-multiple .el-select-dropdown__list {
  padding-top: 0;
}
.pop_select_down.is-multiple .selectbox {
  display: block;
  height: 34px;
  line-height: 34px;
}
.pop_select_down.is-multiple .el-select-dropdown__item.selected::after {
  top: 0.05rem;
  left: 1.17rem;
  z-index: 1;
  font-weight: normal;
  color: #fff;
}
.pop_select_down.is-multiple .el-select-dropdown__item .check {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 10px;
  vertical-align: middle;
  border: 1px solid #656c7e;
  border-radius: 2px;
  transition: border-color 0.25s cubic-bezier(0.71, -0.49, 0.26, 1.46),
    background-color 0.25s cubic-bezier(0.71, -0.49, 0.26, 1.46);
}
.pop_select_down.is-multiple .el-select-dropdown__item.selected .check {
  background-color: #656c7e;
}
